# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laravel Backend
back/vendor/
back/node_modules/
back/storage/*.key
back/storage/framework/cache/*
back/storage/framework/sessions/*
back/storage/framework/testing/*
back/storage/framework/views/*
back/storage/logs/*
back/bootstrap/cache/*
back/.env
back/.env.backup
back/.phpunit.result.cache
back/Homestead.json
back/Homestead.yaml
back/npm-debug.log
back/yarn-error.log
